		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="dlab-topbar-left">
						<ul>
							<li><i class="fa fa-phone m-r5"></i> 001 1234 6789</li>
							<li><i class="fa fa-map-marker m-r5"></i> 6701 Democracy Blvd, Suite 300, USA</li>
						</ul>
					</div>
					<div class="dlab-topbar-right">
						<ul>
							<li><i class="fa fa-clock-o m-r5"></i> Opening Time : 9:30am-5:30pm</li>
						</ul>
					</div>
				</div>
			</div>
		</div>