		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="dlab-topbar-left">
						<ul>
							<li><i class="fa fa-user m-r5"></i>Bonjour {{ app.user.nom }} {{ app.user.prenom }} !</li>
						</ul>
					</div>
					<div class="dlab-topbar-right">
						<ul>
							<li><i class="fa fa-clock-o m-r5"></i> Opening Time : 9:30am-5:30pm</li>
						</ul>
					</div>
				</div>
			</div>
		</div>