{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="page-content bg-white">
        <!-- Slider Banner -->
        <!-- Main Slider -->
        <div class="owl-slider owl-carousel owl-theme owl-btn-center-lr dots-none">
		
			{% for job in jobs.resultats %}

				<div class="item slide-item">
					<div class="slide-item-img"><img src="images/main-slider/slide3.jpg" class="" alt=""/></div>
					<div class="slide-content">
						<div class="slide-content-box container">
							<div class="slide-content-area">
								<h2 class="slider-title">Lieux de travail : <span>{{ job.lieuTravail.libelle }}</span></h2>
								<p>{{ job.intitule }}</p>
								<a href="{{ job.origineOffre.urlOrigine }}" class="btn btn-md kids-btn radius-xl">postuler</a>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

		</div> 
		<!-- Slider Banner -->
		<div class="content-block">
            <!-- About Us -->
            <div class="section-full bg-white content-inner-1" >
                <div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="section-head text-center">
								<h2 class="head-title text-secondry">
									{% if app.user.roles|first == 'ROLE_DWWM' %} Apprenez où que vous soyez !{% endif %}
								</h2>
								<p>Le concepte est d'avoir tous les cours de la formation DWWM sur une meme plateforme</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="icon-bx-wraper right m-b30 about-iconbx">
								<div class="icon-bx-sm radius bg-pink"> <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-bricks"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Active Learning</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
							<div class="icon-bx-wraper right m-b30 about-iconbx">
								<div class="icon-bx-sm radius bg-blue"> <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-boy"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Expert Teachers</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 m-b30 d-md-none d-lg-block d-sm-none">
							<img src="images/about/about-2.jpg" alt=""/>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="icon-bx-wraper left m-b30 about-iconbx">
								<div class="icon-bx-sm bg-green radius"> <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-bus"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Strategi Location</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
							<div class="icon-bx-wraper left m-b10 about-iconbx">
								<div class="icon-bx-sm bg-orange radius"> <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-ice-cream"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Full Day Programs</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="section-full bg-white content-inner about-box" style="background-image:url(images/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="section-head">
								<h2 class="head-title text-secondry">Formation DWWM</h2>
								<p>La formation couvre tous les aspects essentiels du développement web, de la conception de sites attractifs à l'optimisation pour les moteurs de recherche (SEO), en passant par la gestion de campagnes publicitaires efficaces. Mettez en pratique vos connaissances grâce à des projets concrets et des cas d'étude réels. Apprenez en faisant et développez des compétences immédiatement applicables sur le terrain. Que vous soyez novice ou que vous ayez déjà une certaine expérience, notre formation est conçue pour s'adapter à votre niveau de compétence. Nous vous aiderons à progresser à votre rythme.</p>
							</div>
						</div>
						<div class="col-lg-5 col-md-12 col-sm-12 col-12">
							<div class="accordion faq-box m-b30" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											500 new items in the toy collection
										</a>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Throwing birthday parties is fun and easy
										</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Multiple benefits from buying a membership
										</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFor">
										<a class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
											Fresh snacks and beverages for everyone
										</a>
									</div>
									<div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFive">
										<a class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Over 1 000 visitors for the last year
										</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="section-full bg-white content-inner-2 about-content bg-img-fix" style="background-image:url(images/background/bg6.jpg);">
                <div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12 wow fadeIn about-text" data-wow-delay="0.2s" data-wow-duration="2s">
							<div class="section-head text-center">
								<h4 class="text-white">Join Our New Session</h4>
								<h2>Call To Enrol Your Child <br><span class="text-yellow">222 4444 000</span></h2>
								<a href="contect-us.html" class="btn btn-md radius-xl">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-full bg-white content-inner-1">
                <div class="container">
					<div class="section-head text-center">
						<h2 class="head-title text-secondry">Our Classes</h2>
						<p>We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</p>
					</div>
					<div class="blog-carousel owl-carousel owl-theme dots-none sprite-nav owl-btn-center-lr">
						<div class="item">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic3.jpg" alt="">
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">Art Drawing Classes</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic2.jpg" alt="">
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Answer To Everything.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic1.jpg" alt="">
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Miracle Of Education</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="section-full bg-white content-inner-2">
                <div class="container">
					<div class="section-head text-center">
						<h2 class="head-title text-secondry">From the Blog</h2>
						<p>We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</p>
					</div>
					<div class="blog-carousel owl-carousel owl-theme dots-none sprite-nav owl-btn-center-lr">
						<div class="item">
							<div class="blog-post blog-grid ">
                                <div class="dlab-post-media frame-box">
									<a href="blog-details.html"><img src="images/blog/grid/pic1.jpg" alt=""></a>
								</div>
                                <div class="dlab-info">
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="blog-details.html">The Biggest Contribution Of Education Blog To Humanity.</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                       <p>Separation Tips You and your child are about to have an amazing and fun...</p>
                                    </div>
									<div class="dlab-post-readmore"> 
										<a href="blog-details.html" title="READ MORE" rel="bookmark" class="btn-link">Read More</a>
									</div>
                                </div>
                            </div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid ">
                                <div class="dlab-post-media frame-box">
									<a href="blog-details.html"><img src="images/blog/grid/pic2.jpg" alt=""></a>
								</div>
                                <div class="dlab-info">
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="blog-details.html">The Truth About Education Blog Is About To Be Revealed.</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                       <p>Separation Tips You and your child are about to have an amazing and fun...</p>
                                    </div>
									<div class="dlab-post-readmore"> 
										<a href="blog-details.html" title="READ MORE" rel="bookmark" class="btn-link">Read More</a>
									</div>
                                </div>
                            </div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid ">
                                <div class="dlab-post-media frame-box">
									<a href="blog-details.html"><img src="images/blog/grid/pic3.jpg" alt=""></a>
								</div>
                                <div class="dlab-info">
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="blog-details.html">Five Reasons Why People Like Education Blog.</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                       <p>Separation Tips You and your child are about to have an amazing and fun...</p>
                                    </div>
									<div class="dlab-post-readmore"> 
										<a href="blog-details.html" title="READ MORE" rel="bookmark" class="btn-link">Read More</a>
									</div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
		</div>
    </div>
	<!-- Content END-->
{% endblock %}
